# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

phpmyadmin
/invoices
/frontend/config/main.php
/cronjobs
cronjob_getorderdata.php
cronjob_genrate_invoice_number.php
cronjob_createdailyreport.php
cronjob_createordersreport.php
cronjob_send_emails.php
cronjob_reset_invoice_counter.php
/common/config/params.php
/common/config/main.php
/frontend/config
/frontend/config/params.php